<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder zip">
      <label for="zip">Enter City Name Here</label>
      <input type="text" id="zip" placeholder="New york">
    </div>
    <div class="holder feel">
      <button id="generate"> Search </button>
    </div>
    <div class="holder entry">
      <div class="title">TRAVEL</div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="temp"></div>
        <div id="content"></div>
      </div>
    </div>
  </div>
  <script src="main.js" type="text/javascript"></script>

</body>

</html>